/* Footer.css */

footer {
    position: relative;
    background-image: url('riversedgefooter.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    overflow: hidden;
  }
  
   
  

  